{% include "header.html" %}

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Host a Party</h1>
    <form method="POST" action="/host/">
        <div class="form-group">
            <label for="email">Room Code:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div> 

{% include "footer.html" %}