<section id="header">
    <div id="header-wrapper" class="header-slider">
        <header class="clearfix">
            <div class="container">
                <div class="row content">
                    <div class="col-md-12">
                        <h1><strong class="headerText">Sparty</strong></h1>
                        <div id="main-flexslider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <p class="home-slide-content"><strong>Collaberate</strong> with friends</p>
                                </li>
                                <li>
                                    <p class="home-slide-content">We love <strong>Simplicity</strong></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</section>
<section id="about" class="section">
    <div class="container">
        <h4>Who We Are</h4>
        <div class="row">
            <div class="col-xs-4">
                <div>
                    <h2>We live with <strong>Creativity</strong></h2>
                    <p>We are a modern company specializing in all types of Web Development services. We can build a website from the ground up, or we can dive straight into an existing application. Nova was created entirely by developers, which means our development processes are completely streamlined.
                        <a routerLink="/register">Create a free account</a> and start building your website today!
                    </p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="aligncenter">
                    <img src="../../assets/img/icons/creativity.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="../../assets/img/team/img-1.jpg" alt="" />
                    <h3>John Smith</h3>
                    <p>Founder</p>
                </div>
            </div>
            <div class="col-xs-2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="../../assets/img/team/img-2.jpg" alt="" />
                    <h3>Mike Doe</h3>
                    <p>Web developer</p>
                </div>
            </div>
            <div class="col-xs-2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="../../assets/img/team/img-3.jpg" alt="" />
                    <h3>Neil Doe</h3>
                    <p>Web designer</p>
                </div>
            </div>
            <div class="col-xs-2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="../../assets/img/team/img-4.jpg" alt="" />
                    <h3>Mark Joe</h3>
                    <p>UI designer</p>
                </div>
            </div>
            <div class="col-xs-2 flyIn">
                <div class="people">
                    <img class="team-thumb img-circle" src="../../assets/img/team/img-5.jpg" alt="" />
                    <h3>Stephen B</h3>
                    <p>Digital imaging</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="section orange">
    <div class="container">
        <h4>Services</h4>
        <div class="row">
            <div class="col-xs-3">
                <div class="service-box">
                    <img src="../../assets/img/icons/laptop.png" alt="" />
                    <h2>Web Design</h2>
                    <p>Choose from a template or let us start from scratch. All websites are fully customizable.</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="service-box">
                    <img src="../../assets/img/icons/api.png" alt="" />
                    <h2>API Integration</h2>
                    <p>Integrate external services into your application. Ask for an API suggestion from one of our experienced developers.</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="service-box">
                    <img src="../../assets/img/icons/lab.png" alt="" />
                    <h2>Web Development</h2>
                    <p>We use the latest technologies to create responsive websites. You give us an idea and we bring your creation to life.</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="service-box">
                    <img src="../../assets/img/icons/custom.png" alt="" />
                    <h2>Custom Services</h2>
                    <p>If you have a vision, our developers can make it happen. Ask us about custom eCommerce and marketing services.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-2x"></i></a>