<div class="container">
<div class="row">
    <div class="col-xs-8">
        <h1>
            Dashboard
            <span [hidden]="!joined"> - {{ room.name }}</span>
            <span [hidden]="!joined"> - 
                <button type="button" class="btn btn-danger" (click)="leaveRoom()">
                    <span [hidden]="isHost">Leave</span>
                    <span [hidden]="!isHost">End Room</span>    
                </button>
            </span>
        </h1>
    </div>
    <div class="col-xs-4">
        <div class="music-player" [hidden]="!isHost">
            <span [hidden]="isPlaying">
                <span class="glyphicon glyphicon-play" style="margin-left: 10px" (click)="play()"></span>
            </span>
            <span [hidden]="!isPlaying">
                <span class="glyphicon glyphicon-pause" style="margin-left: 10px" (click)="pause()"></span>
            </span>
            <span class="glyphicon glyphicon-forward" style="margin-left: 10px" (click)="nextTrack()"></span>
        </div>
    </div>
</div>
<div style="background-color: black;">
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
</div>
<div class="row content">
        <div class="col-sm-6" [hidden]="joined">
            <div class="panel panel-primary">
                <div class="panel-heading">Sparty</div>
                <div class="panel-body">
                    <form>
                        <div [hidden]="!error" class="alert alert-danger">
                            <strong>Error: </strong> {{ error }}
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <input type="text" class="form-control" [(ngModel)]="roomName" name="roomName" placeholder="Room name..." required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <button type="submit" class="btn btn-primary btn-block" (click)="joinRoom()">Join</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <button type="submit" class="btn btn-success btn-block" (click)="hostRoom()">Host</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div [hidden]="!joined">
            <div class="row">
                <!--<div class="col-sm-2">
                    <h4>Users:</h4>
                    <ul>
                        <li *ngFor="let user of room.users"> 
                            {{ user.display_name }} <span *ngIf="user.host"> - Host</span>
                        </li>
                    </ul>
                </div>-->
                <div class="col-sm-6">
                    <h4>Queue:</h4>
                    <div class="pre-scrollable" style="max-height: 70vh">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Artist</th>
                                        <th scope="col">Album</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let track of room.queue.tracks.items; let i = index" [ngClass]="{green: track.id == currentlyPlaying.id}">
                                        <td>{{ i+1 }}</td>
                                        <td><span >{{ track.name }}</span></td>
                                        <td>{{ track.artists[0].name }}</td>
                                        <td>{{ track.album.name }}</td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4>Your songs:</h4>
                    <div class="pre-scrollable" style="max-height: 70vh">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Artist</th>
                                        <th scope="col">Album</th>
                                        <th scope="col">Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of library; let i = index">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ item.track.name }}</td>
                                        <td>{{ item.track.artists[0].name }}</td>
                                        <td>{{ item.track.album.name }}</td>
                                        <td><span (click)="addTrack(item)" class="glyphicon glyphicon-plus"></span></td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>