<nav class="navbar navbar-default navbar-fixed-top nav-main-wrapper">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand navbar-link" href="#"><strong>Sparty</strong></a>
          <button class="navbar-toggle" data-toggle="collapse" data-target="#navcol-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse" id="navcol-1">
          <ul class="nav navbar-nav">
            <li id="home-link">
              <a pageScroll href="#header" (pageScrollFinish)="postScroll('home-link', $event)" routerLink="/">Home</a>
            </li>
            <li id="about-link">
              <a pageScroll href="#about" (pageScrollFinish)="postScroll('about-link', $event)" routerLink="/">About</a>
            </li>
            <li id="services-link">
              <a pageScroll href="#services" (pageScrollFinish)="postScroll('services-link', $event)" routerLink="/">Services</a>
            </li>
          </ul>
          <ng-template #rt let-track="result" let-t="term">
            {{ track.name}} - {{ track.artists[0].name }}
          </ng-template>
          <ul *ngIf="loggedIn" class="nav navbar-nav">
            <li routerLinkActive="active">
              <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <span [hidden]="!authentication.joined()">
              <li>
                <input id="typeahead-template" type="text" class="form-control" 
                  [ngbTypeahead]="searchMusic" placeholder="Search Music..."  [resultTemplate]="rt" 
                  [inputFormatter]="searchFormatter" (selectItem)="addTrack($event)" />
              </li>
            </span>
          </ul>
          <ul *ngIf="!loggedIn" class="nav navbar-nav navbar-right">
            <li routerLinkActive="active"><a [href]="spotifyLoginUrl"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
          <ul *ngIf="loggedIn" class="nav navbar-nav navbar-right">
            <li routerLinkActive="active"><a href="#" (click)="logout($event)"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
         </ul>
      </div>
  </div>
</nav>